:root {
  --main-red-color: #d41443;
  --main-white-color: #ffffff;
  --background-pink-color: #ffb8ca;
  --section-header-pink-color: #ffa5ba;

  --light-pink-background-color: #fff5f6;
  --background-yellow-color: #f0d1a5;
  --background-green-color: #c2e297;
  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --quote-background-grey-color: #fafafa;

  --cafe-peach-color: #f0d1a5;
  --food_truck-green-color: #c2e297;

  --social-link-pink-color: #fea5bb;

  --menu-background-color: #e17992;

  --hover-grey-color: #ecebeb;

  --main-font-family: "DM Sans", sans-serif;
  --second-font-family: "Titan One", sans-serif;
  --ellipse-dark-red-color: #c7133e;
  --quotation-mark-grey-color: #e1e1e1;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* basic styles */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 1.76;
}

.section {
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and(min-width:1280px) {
    max-width: 1080px;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* CUSTOMER REVIEWS SECTION */

.customer__section {
}

.customer__portrait {
  display: block;
  margin: 0 auto;
}

.customer__comment-box {
  width: 280px;
  height: 308px;
  padding: 43px 0 20px 0;
  margin: 0 auto;

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  justify-content: center;

  color: var(--black-text-color);
  background-color: var(--quote-background-grey-color);
}

.customer__comment-text {
  margin: 0 62px;
}

.customer__signature {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;

  color: var(--black-text-color);
}

.customer__slider-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
}

.customer__slider-item:not(:last-child) {
  margin-right: 18px;
}

.customer__slider-icon {
  fill: #d9d9d9;
}

.customer__slider-icon--current {
  fill: #d31342;
}

/* SLIDER */
.slider {
  position: relative;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots button {
  position: absolute;

  font-size: 0;

  width: 12px;
  height: 12px;
  background-image: url("../images/customer-review/grey-dot.svg");
  border: transparent;
}

.slick-active button {
  width: 12px;
  height: 12px;
  background-image: url("../images/customer-review/home-dot.svg");
}
